#body{
    margin: 0;
    font-family: Roboto;
    background-color: #ffc1bb;
}
#header{
    background-color: #ffc1bb;
    text-align: center;
}
#menu {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    position: absolute;

}

#logo {
    width: 80px;
    height: 80px;
    position: absolute;

    margin-left: 7%;
    margin-top: 9.6px;
}
.divIconsNavBar{
    cursor: pointer;
}

#buscaEicones {
    width: 140px;
    height: 40px;
    margin: -42 84%;
    position: relative;
}
#busca {
    width: 200px;
    height: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #CCC;
    font-family: Arial;
    border-radius: 30px;
}
#tabelaMenu {
    
    margin-top: 35px;


}

.divCarouselItem{
    width: 100px;
    height: 100px;
    background-color: #f77062;
    position: relative;
    margin: auto;
}

table tr td a{
    float: right;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 7px 6px;
    color: rgb(255, 255, 255);
    border-radius: 3px;
}
table tr td a:hover{
    text-decoration: none;
    background-image: linear-gradient(to top, rgb(253, 78, 148) 0%, #fc796a 100%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .5s;
}
table tr td a.active{
    background-image: linear-gradient(to top, rgb(253, 78, 148) 0%, #fc796a 100%);
    transition: .5s;
}
/* Button styles */
.checkbtn{
    font-size: 35px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    margin-top: 35px;
    cursor: pointer;
    display: none;
    
}
#check{
    display: none;
}
@media(max-width: 800px){
    #menu table {
        width: 100%;
        float: left;
    }
}
.botao-cadastro{
    width: 120px;
    height: 45px;
    background-color: crimson;
    color: white;
    border: 0;
    border-radius: 15px;
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    cursor: pointer;
}

.botao-cadastro:hover{
    background-color: rgb(228, 74, 105);
}
.botao-mais-produtos{
    width: 150px;
    height: 60px;
    background-color: crimson;
    color: white;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
}


.botao-mais-produtos:hover{
    background-color: rgb(228, 74, 105);
}

#paginaDois {
    background-color: #ffc1bb;
    width: 100%;
    
}
.div-best-sellers{
    width: 100%;
    margin-top: 60px;
    text-align: center;
    
}
.container-best-sellers{
    position: relative;
    text-align: center;
}

.best-seller{
    width: 350px;
    height: 300px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background-color: #fe5196;
    border-radius: 15px;
}

#paginaTres {
    background-color: #ffc1bb;
    width: 100%;
    height: 600px;
    position: relative;
}
#paginaTres h1{
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: 17px;
}
#video {
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    margin: 0 auto;
    width: 50%;
    height: 360px;
    text-align: center;
}

.div-depoimentos{
    width: 100%;
    margin: 60px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -45px;
    position: relative;
    text-align: center;
    
}
.depoimento{
    width: 300px;
    height: 350px;
    margin: 0 auto;
    display: inline-block;
    background-color: #fe5196;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.titulo-depoimento{
    font-family: arial;
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.texto-depoimento{
    font-family: arial;
    font-size: 15px;
    color: white;
    font-weight: bold;
}
#contato {
    width: 100%;
    height: 90px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    position: relative;

}
#rodape {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #d3d3d3;
}
/* Tables style */
.tr-social-media{
    padding-top: 20px;
}

/* Images style */
.imagem-logo{
    margin-left: 5px;
    margin-top: 5px;
}
.imagem-depoimentos{
    width: 105px;
    height: 105px;
    border-radius: 100%;
    margin-top: 8px;
}
/* Text styles */
.titulo-mais-vendidos{
    font-weight: bold;
    font-size: 45px;
}

.titulo-best-seller{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}

.texto-rodape{
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
}

.titulo-depoimento{
    font-family: arial;
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.texto-depoimento{
    font-family: arial;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

/* Carrossel style */
.carousel{
    width: 360px;
    height: 450px;
    margin: auto;
    margin-top: 75px;
    align-items: center;
    
}

.carousel .carousel-img{
    transform: scale(0.6);
    transition: 0.5s;
    outline: none !important;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    padding-top: 50px;
}


.carousel .carousel-img.slick-center{
    transform: scale(1);
}

.botao-setas{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    color: white;
    font-size: 20px;
    font-family: arial;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.botao-setas:hover{
    cursor: pointer;
}